{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="2; url={% url 'accounts:profile-view' %}">
    {% endif %}
    <title>{% block title %}| Sign-up{% endblock title %}</title>
</head>
<body class="">
    {% if not user.is_authenticated %}
    <div class="container mt-5">
        <h5 class="text-secondary text-center">Welcome to Easy Pay complete your registeration</h5>
        <div class="card p-4" style="max-width: 100%;">
            <div class="row justify-content-center">
                <div class="col-md-5 col-sm-8 pt-4">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a href="/" class="btn btn-primary btn-sm">home</a>
                        <button type="submit" class="btn btn-primary btn-sm float-right" name="register">Submit</button>
                        <br><br>
                        <p>Already signup <a href="{% url 'accounts:login' %}"><i>login</i></a> here.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info p-5 mt-5 text-capitalize text-center">
        {{ request.user.unique_tag }} you are signed in.
        <span class="spinner spinner-grow spinner-grow-sm text-secondary"></span>
        <span class="spinner spinner-grow spinner-grow-sm text-info"></span>
        <span class="spinner spinner-grow spinner-grow-sm text-warning"></span>
    </div>
    {% endif %}
</body>

{% endblock content %}
