{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profilepage.css' %}">
    <link rel="stylesheet" href="{% static 'styles/basestyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/wallet.css' %}">
    <link rel="icon" href="{% static 'fav/naira-sign2.ico' %}">
    <meta name="Author" content="Smartybrainy">

    <link rel="stylesheet" href="{% static 'offline/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'offline/font-awesome/all.min.css' %}">
    <title>E-pay {% block title %}{% endblock %}</title>
    <style>
        .alert{
            width: calc(760px / 2);
            max-width: 520px;
            word-break: keep-all;
            -ms-word-break: keep-all;
            z-index: 120;
            /* displays above all */
            margin: auto;
            margin-top: 3rem;
        }
    </style>
</head>
<body>

    <div id="bs-progress-container">
        <div id="bs-progress-bar"></div>
    </div>

    <div class="container">
        {% if messages %}
        <div class="bs-alert-height">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible text-capitalize" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|escape }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% block content %}
    {% endblock content %}
</body>
<!-- for progress bar. -->
{% include 'fragments/scripts.html' %}

<script src="{% static 'offline/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'offline/js/bootstrap.min.js' %}"></script>
{% block extra_script %}
{% endblock extra_script %}
<script src="{% static 'offline/font-awesome/all.min.js' %}"></script>
</html>