* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-white: #fff;
  --primary-gray: #ccc;
  --primary-green: hsl(157, 94%, 50%);
  --primary-green2: hsl(157, 94%, 55%);
}
.bs-success {
  background-color: var(--primary-green);
}

/* The home page styling */
.home-length {
  min-height: 100vh;
}

.naira-sign {
  font-size: 10rem;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  color: var(--primary-white);
  min-height: 75vh;
  max-width: 15%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.naira-sign:hover {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--primary-gray);
  text-shadow: 5px 5px green;
}

.naira-sign:active {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--primary-gray);
  text-shadow: 3px 3px green;
}

.naira-link:hover {
  text-decoration: none;
}

.pay-text {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}
/* End home page styling */
